.LoginSignupContainer{
    margin: 0;
    height: 76vh;
    background: linear-gradient(#2A00B7, #42006C);
    position: relative;
}

.LoginSignupContainer .container{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    margin: auto;
    background: white;
    padding: 20px; /* Adjust padding for better responsiveness */
    border-radius: 10px; /* Add border radius for aesthetics */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Add shadow for better visibility */
    width: 100%;
    max-width: 500px; /* Limit the maximum width */

}

.LoginSignupContainer .container .header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 20px;
}

.LoginSignupContainer .container .header .text{
    color: #520084;
    font-size: 32px;
    font-weight: 700;
}

.LoginSignupContainer .container .header .underline{
    width: 90px;
    height: 5px;
    background: #520084;
    border-radius: 9px;
}

.LoginSignupContainer .container .inputs{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}

.LoginSignupContainer .container .inputs .input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 80px;
    background: #dedede;
    border-radius: 6px;
}

.LoginSignupContainer .container .inputs .input img{
    transform: scale(1.1);
    margin: 0px 25px;
}

.LoginSignupContainer .container .inputs .input .tokenIcon{
    transform: scale(1.3);
    margin: 0px 23px;
}

.LoginSignupContainer .container .inputs .input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.LoginSignupContainer .container .submit-container{
    display: flex;
    gap: 30px;
    margin: 20px auto;
}

.LoginSignupContainer .container .submit-container .submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 59px;
    color: white;
    background:#520084;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 50px;
}

.LoginSignupContainer .container .submit-container .gray{
    background: #797979;
    color: #eaeaea;
}
.Error{
    font-size: 18px;
    color: red;
    font-weight: 600;
    font-style: italic;
    margin-left: 10px;
}

.ApiInstruction{
    font-size: 18px;
    font-weight: 600;
    margin-left: 20px;
}


@media only screen and (max-width: 505px){
    
    .BackArrow2 button:hover{
        transform: scale(0.9);
    }
    
    .BackArrow2 button:active{
        transform: scale(0.6);
    }
    
    .BackArrow2 h3{
        font-size: 1.1rem;
    }
    
    .BackArrow2 button img{
        height: 40px;
    }

    .LoginSignupContainer .container{

        position: relative;
        top: 50%;
        width: 100%;      
        margin: 0 auto;  
        padding: 15px;
        border-radius: 0px;
    
    }

    .LoginSignupContainer .container .header .text{
        font-size: 27px;
    }

    .LoginSignupContainer .container .header{
        gap: 7px;
    }
    
    .LoginSignupContainer .container .header .underline{
        width: 76px;
    }

}

@media only screen and (max-width: 376px){
    .LoginSignupContainer .container .submit-container .submit{
        width: 150px;
        height: 50px;
        font-size: 15px;
    }
}