

:root {
  --bg: #000000;
  --clr-1: #00c2ff;
  --clr-2: #33ff8c;
  --clr-3: #ffc640;
  --clr-4: #e54cff;

  --blur: 1rem;
  --fs: clamp(2rem, 8vw, 4.5rem);
  --ls: clamp(-1.75px, -0.25vw, -3.5px);
}

.HeaderComponent {
  height: 22vh;
  width: 99vw;
  display:flex;
  justify-content: center;
  padding:0px 30px 10px 30px;
  background-color: black;
  color: #fff;
  
  letter-spacing: 2px;
  position: sticky;
  top: 0;
  z-index: 999;
  
}

*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
}

.title {
  font-size: var(--fs);
  font-weight: 800;
  letter-spacing: var(--ls);
  position: relative;
  overflow: hidden;
  background: black;
  margin: 0;
}

.subtitle {
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 2px;
}

.aurora {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  mix-blend-mode: darken;
  pointer-events: none;
}

.aurora__item {
  overflow: hidden;
  position: absolute;
  width: 60vw;
  height: 60vw;
  background-color: var(--clr-1);
  border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  filter: blur(var(--blur));
  mix-blend-mode: overlay;
}

.aurora__item:nth-of-type(1) {
  top: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-1 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(2) {
  background-color: var(--clr-3);
  right: 0;
  top: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-2 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(3) {
  background-color: var(--clr-2);
  left: 0;
  bottom: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-3 8s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(4) {
  background-color: var(--clr-4);
  right: 0;
  bottom: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-4 24s ease-in-out infinite alternate;
}

@keyframes aurora-1 {
  0% {
    top: 0;
    right: 0;
  }

  50% {
    top: 100%;
    right: 75%;
  }

  75% {
    top: 100%;
    right: 25%;
  }

  100% {
    top: 0;
    right: 0;
  }
}

@keyframes aurora-2 {
  0% {
    top: -50%;
    left: 0%;
  }

  60% {
    top: 100%;
    left: 75%;
  }

  85% {
    top: 100%;
    left: 25%;
  }

  100% {
    top: -50%;
    left: 0%;
  }
}

@keyframes aurora-3 {
  0% {
    bottom: 0;
    left: 0;
  }

  40% {
    bottom: 100%;
    left: 75%;
  }

  65% {
    bottom: 40%;
    left: 50%;
  }

  100% {
    bottom: 0;
    left: 0;
  }
}

@keyframes aurora-4 {
  0% {
    bottom: -50%;
    right: 0;
  }

  50% {
    bottom: 0%;
    right: 40%;
  }

  90% {
    bottom: 50%;
    right: 25%;
  }

  100% {
    bottom: -50%;
    right: 0;
  }
}

@keyframes aurora-border {
  0% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }

  25% {
    border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%;
  }

  50% {
    border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
  }

  75% {
    border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%;
  }

  100% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }
}

.logOutBtn{
  background-color: rgb(14, 14, 14);
  border: none;
  border-radius: 5px;
}

.Logout_Button_Div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.Login_SignUp_Button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position:absolute;
  top: 25px;
  left: 35px;
}

.Login_SignUp_Button button {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #040005;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  font-weight: 600;
}

.Login_SignUp_Button button:focus {
  box-shadow: #c1a1e6 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.Login_SignUp_Button button:hover {
  box-shadow: rgba(140, 77, 188, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.Login_SignUp_Button button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.LoginSuccessfulDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  position:absolute;
  top: 25px;
  left: 35px;
}
.userEmail input{
  background: transparent;
  color: white;
  border: none;
  width: 500px;
  height: 50px;
  font-size: 18px;
  font-weight: 700;
}
.Cart_Items_Button{
  position:absolute;
  top: 0px;
  right: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.cartValueOverlap{
  position: relative;
  text-align: center;
  filter: blur(0.3px);
  border: none;
  appearance: none;
  background-color: #000000;
  border-radius: 15px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1.7rem;
  font-weight: 600;
  line-height: normal;
  outline: none;
  padding: 12px 15px;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  letter-spacing: 3px;
}


.cartValueOverlap:hover {
  animation: animateCart 1s 1 forwards;
}

@keyframes animateCart {
  0%{
    transform: translateX(-1px);
  }100%{
    transform: translateX(5px);
  }
}


.CartItemInput{
  width: 35px;
  font-size: 1.3rem;
  font-weight: 800;
  background-color: rgba(93, 0, 255, 0.432);
  color: white;
  z-index: 2;
  position: absolute;
  top: 44%;
  left: 60%;
  transform: translate(-50%, -50%);
  letter-spacing: 2px;
  text-align: center;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 1165px){
  .LoginSuccessfulDiv{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0px;
  }
  .HeaderComponent {
    height: 28vh;
  }
}

@media only screen and (max-width: 990px){

  .HeaderComponent {
    padding: 0 10px 8px 10px;
  }

  .title {
    font-size: clamp(1.5rem, 6vw, 4rem);
  }

  .subtitle {
    font-size: 1rem;
  }

  .Login_SignUp_Button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position:absolute;
    top: 25px;
    left: 35px;
  }


  .Login_SignUp_Button button {
    width: 100%;
    font-size: 16px;
    height: 30px;
  }

  .cartValueOverlap{
    font-size: 1.3rem;
    font-weight: 600;
    padding: 8px 14px;
    letter-spacing: 2px;
  }

  .cartValueOverlap img{
    height: 70px;
    width: 80px;
  }
  

}

@media only screen and (max-width: 830px) {
  .HeaderComponent {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding:0px 10px 10px 10px;
    height: 35vh;
  }

  .Login_SignUp_Button{
    position:absolute;
    top: 95px;
    left: 35px;
  }

  .Cart_Items_Button{
    position:absolute;
    top: 95px;
    right: 35px;
  }

  .LoginSuccessfulDiv{
    position:absolute;
    top: 75px;
    left: 35px;
  }

  .logOutBtn img{
    height: 50px;
  }


}

@media only screen and (max-width: 350px){
  .userEmail input{
    font-size: 14px;
  }

  
}

